version: '3.8'

services:
  oauth_db:
    image: mariadb:latest
    container_name: oauth_db
    environment:
      MARIADB_ROOT_PASSWORD: mysecretpassword
      MARIADB_DATABASE: oauth_db
      MARIADB_USER: oauth
      MARIADB_PASSWORD: oauth
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      interval: 10s
      timeout: 5s
      retries: 3

  # UI for MariaDB
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"

  oauth2-session:
    image: redis:7.2
    container_name: oauth2-session
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    environment:
      - REDIS_HOSTS=local:oauth2-session:6379
    ports:
      - "8082:8081"

  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--log.level=INFO"
    ports:
      - "80:80"
      - "8087:8080" # Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - default

  auth-server:
    build:
      context: ./auth-server
    container_name: auth-server
    ports:
      - "9000:9000"
    depends_on:
      oauth_db:
        condition: service_healthy
    environment:
      MARIADB_URL: jdbc:mariadb://oauth_db:3306/oauth_db
      MARIADB_USER_NAME: oauth
      MARIADB_PASSWORD: oauth
      SPRING_APPLICATION_NAME: auth-server
      SERVER_SERVLET_CONTEXT_PATH: /auth
      FE_APP_BASE_URL: http://localhost/
      AUTH_SERVER_URL: http://localhost/auth
      GATEWAY_CLIENT_URL: http://localhost
      LEAKED_PASSWORDS_API_URL: http://leaked-passwords-api:8083
      PASSKEYS_SERVICE_URL: http://passkeys-service:8085
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/auth`)"
      - "traefik.http.services.auth.loadbalancer.server.port=9000"
    networks:
      - default

  gateway:
    build:
      context: ./gateway
    container_name: gateway
    ports:
      - "8081:8081"
    expose:
      - "8081"
    depends_on:
      - auth-server
    environment:
      SPRING_APPLICATION_NAME: gateway
      AUTH_SERVER_URL: http://localhost/auth
      AUTH_SERVER_INTERNAL_URL: http://auth-server:9000
      FE_APP_BASE_URL: http://localhost
      SECURE_RESOURCE_URL: http://secure-resource:9100
      PASSKEYS_SERVICE_URL: http://passkeys-service:8085
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gateway.rule=Host(`localhost`) && (PathPrefix(`/login`) || PathPrefix(`/oauth2`) || PathPrefix(`/logout`) || PathPrefix(`/userinfo`) || PathPrefix(`/resource`) || PathPrefix(`/registration-begin`) || PathPrefix(`/registration-finish`) || PathPrefix(`/user-passkeys`))"
      - "traefik.http.services.gateway.loadbalancer.server.port=8081"
    networks:
      - default

  fe-client:
    build:
      context: ./fe-client
      args:
        - VITE_AUTH_URL=http://localhost/auth
        - VITE_AUTH_BFF=http://localhost
    container_name: fe-client
    environment:
      VITE_AUTH_URL: http://localhost/auth
      VITE_AUTH_BFF: http://localhost
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`localhost`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - default

  secure-resource:
    build:
      context: ./secure-resource
    container_name: secure-resource
    ports:
      - "9100:9100"
    expose:
      - "9100"
    depends_on:
      - auth-server
    environment:
      SPRING_APPLICATION_NAME: secure-resource
      JWT_SET_URI: http://auth-server:9000/auth/oauth2/jwks
    networks:
      - default

volumes:
  mariadb_data:
  redis_data:

networks:
  default:
