server:
  port: 9000

fe-app:
  base-uri: ${FE_APP_BASE_URL:http://localhost:5173}

oauth2:
  auth-server-url: ${AUTH_SERVER_URL:http://auth-server:9000}
  gateway-client-url: ${GATEWAY_CLIENT_URL:http://localhost:8081}

leaked-passwords-api:
  url: ${LEAKED_PASSWORDS_API_URL:http://localhost:8083}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG

spring:
  datasource:
    url: ${MARIADB_URL:jdbc:mysql://localhost:3306/oauth_db}
    username: ${MARIADB_USER_NAME:oauth}
    password: ${MARIADB_PASSWORD:oauth}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create
  sql:
    init:
      mode: always
