server:
  port: 8081
  servlet:
    session:
      cookie:
        domain: localhost

fe-app:
  base-uri: ${FE_APP_BASE_URL:http://localhost:5173}

oauth2:
  secure-resource-url: ${SECURE_RESOURCE_URL:http://secure-resource:9100}
  auth-server-url: ${AUTH_SERVER_URL:http://auth.localhost:9000}
  auth-server-internal-url: ${AUTH_SERVER_INTERNAL_URL:http://auth-server:9000}
  passkeys-service-url: ${PASSKEYS_SERVICE_URL:http://passkeys-service:8085}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.web.HttpLogging: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.cloud.gateway: DEBUG

spring:
  thymeleaf:
    cache: false
  data:
    redis:
      host: oauth2-session
      port: 6379
  session:
    redis:
      namespace: spring:session
      repository-type: default
